.cam_group_label{
    display: block;
    padding: 4px 0px 0px 1px;
}
svg {
    display: block;
}

.cam-checkboxes {
    border: solid red;
    flex-flow: row wrap;
    height: 200px;
}

.cam-grouping {
    display: inline
}
